.modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  display: flex;
  

}

.modal-container {

  margin: 0 1rem;
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 600px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  min-width: 400px;
  
  
  /* Estilos responsivos para mobile */
  @media (max-width: 639px) {
    margin: 0;
    border-radius: 0;
    max-height: unset;
    height: unset;
  }
 
  
  /* Estilos responsivos para tablet */
  @media (min-width: 640px) and (max-width: 1023px) {
    margin: 0 2rem;
  }
  
  /* Estilos responsivos para desktop */
  @media (min-width: 1024px) {
    margin: 0 auto;
  }
}


.pokemon-name {
  font-size: 45px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding-left: 10%;
}

.pokemon-type-text {
  text-transform: capitalize;
}
.pokemon-card-flying {
  background-image: linear-gradient(#a98472, black);
}
.pokemon-card-fire {
  background-image: linear-gradient(#eb4343, black);
}
.pokemon-card-steel {
  background-image: linear-gradient(#4c91b2, black);
}
.pokemon-card-ice {
  background-image: linear-gradient(#91d8df, black);
}
.pokemon-card-fairy {
  background-image: linear-gradient(#eba8c3, black);
}
.pokemon-card-psychic {
  background-image: linear-gradient(#ff6e68, black);
}
.pokemon-card-rock {
  background-image: linear-gradient(#6f6e78, black);
}
.pokemon-card-ghost {
  background-image: linear-gradient(#8571be, black);
}
.pokemon-card-dragon {
  background-image: linear-gradient(#7383b9, black);
}
.pokemon-card-dark {
  background-image: linear-gradient(#493f62, black);
}
.pokemon-card-normal {
  background-image: linear-gradient(#b5b9c4, black);
}
.pokemon-card-water {
  background-image: linear-gradient(#58abf6, black);
}
.pokemon-card-grass {
  background-image: linear-gradient(#8bbe8a, black);
}
.pokemon-card-poison {
  background-image: linear-gradient(#9f6e97, black);
}
.pokemon-card-bug {
  background-image: linear-gradient(#4c8e38, black);
}
.pokemon-card-electric {
  background-image: linear-gradient(#d9b549, black);
}
.pokemon-card-fighting {
  background-image: linear-gradient(#ff4971, black);
}
.pokemon-card-ground {
  background-image: linear-gradient(#f78551, black);
}
.stats-container {
  background-color: green;
}
.moves-pokemon {
  height: 20%;
  overflow-y: scroll;
}

.moves-pokemon::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.moves-pokemon::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.moves-pokemon::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
.moves-pokemon::-webkit-scrollbar-thumb:hover {
  background: #555;
}
