.titulo-garchomp {
  font-size: 50px;
  
}
.garchomp-img {
  width: 65%;
}
@media (max-width: 600px) {
  .titulo-garchomp {
    font-size: 38px;
  }
  .garchomp-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 30px;
  }
  .garchomp-info {
    width: 100%;
   
  }
 
  .garchomp-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .garchomp-img {
    width: 60%;
  }
}
