.titulo-garchomp {
  font-size: 50px;
  color: green;
}
.garchomp-img {
  width: 65%;
}
@media (max-width: 600px) {
  .titulo-garchomp {
    font-size: 38px;
    color: red;
  }
  .garchomp-container {
    display: block;
  }
  .garchomp-info {
    width: 100%;
    padding: 5%;
  }
  .garchomp-descricao {
    padding: 0 10%;
  }
  .garchomp-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .garchomp-img {
    width: 40%;
  }
}
