/* styles modal */
.modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    display: flex;
  }
  
  @keyframes modalFadeIn {
    from { opacity: 0;
    scale: 0.1; }
    to { opacity: 1;
    scale: 1; }
  }
  
  .modal-container {
    animation: modalFadeIn 0.6s backwards;
    transition: all;
    margin: 0 1rem;
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    border-radius: 25px;
    overflow: hidden;
    min-width: 400px;
  }
  
  
  .pokemon-name {
    font-size: 45px;
    font-weight: bold;
    padding-left: 10%;
  }
  
  .pokemon-type-text {
    text-transform: capitalize;
  }
  .pokemon-card-flying {
    background-image: linear-gradient(black,#a98472);
  }
  .pokemon-card-fire {
    background-image: linear-gradient(black,#eb4343);
  }
  
  .pokemon-card-ghost {
    background-image: linear-gradient(black,#8571be);
  }
  .pokemon-card-steel {
    background-image: linear-gradient(black,#4c91b2);
  }
  .pokemon-card-ice {
    background-image: linear-gradient(black,#91d8df);
  }
  .pokemon-card-fairy {
    background-image: linear-gradient(black,#eba8c3);
  }
  .pokemon-card-psychic {
    background-image: linear-gradient(black,#ff6e68);
  }
  .pokemon-card-rock {
    background-image: linear-gradient(black,#6f6e78);
  }
  .pokemon-card-ghost {
    background-image: linear-gradient(black#8571be);
  }
  .pokemon-card-dragon {
    background-image: linear-gradient(black,#7383b9 );
  }
  .pokemon-card-dark {
    background-image: linear-gradient(black,#493f62);
  }
  .pokemon-card-normal {
    background-image: linear-gradient(black,#526086);
  }
  .pokemon-card-water {
    background-image: linear-gradient(black,#58abf6);
  }
  .pokemon-card-grass {
    background-image: linear-gradient(black,#8bbe8a);
  }
  .pokemon-card-poison {
    background-image: linear-gradient(black,#9f6e97);
  }
  .pokemon-card-bug {
    background-image: linear-gradient(black,#4c8e38);
  }
  .pokemon-card-electric {
    background-image: linear-gradient(black,#d9b549);
  }
  .pokemon-card-fighting {
    background-image: linear-gradient(black,#ff4971);
  }
  .pokemon-card-ground {
    background-image: linear-gradient(black,#f78551);
  }
  .stats-container {
    background-color: green;
  }
  
  /*Card styles */

  .card-container {
    flex-grow: 1;
    height: 350px;
    width: 450px;
    max-width: 550px;
    border-radius: 25px;
  }
  @media (max-width: 600px){
    .card-container{
      height: 180px;
    }
  }
  .card-container-button {
    height: 303px;
    width: 450px;
    max-width: 550px;
    border-radius: 25px;
  }
